version: '{build}'
branches:
  only:
  - master
skip_tags: true
image: Visual Studio 2017
configuration:
- Debug
- Release
build:
  project: Hourglass-Resurrection.sln
  verbosity: minimal
after_build:
- cmd: |-
    IF "%APPVEYOR_PULL_REQUEST_NUMBER%"=="" (SET PACKAGE="%APPVEYOR_PROJECT_NAME%-master") ELSE (SET PACKAGE="%APPVEYOR_PROJECT_NAME%-PR-%APPVEYOR_PULL_REQUEST_NUMBER%")
    7z a %PACKAGE%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*
test_script:
- build\tests\%CONFIGURATION%\test_runner\test_runner.exe
artifacts:
- path: '*zip'
